html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 200px 1fr;
  height: 100%
}


.header {
  grid-column: 1 / -1;

  color: #ffffff;
  background-color: #7d0084;
}

.heading {
  text-align: center;
}

.content {
  flex: 1;
  background-color: #f4e7ff;
}


.footer {
  grid-column: 1 / -1;
  background-color: #ffc0cb;
}

.copyright {
  text-align: center;
}